#moon {
  clear: both;
  background: #193d61;
}

.current-date {
  color: #9de7fa;
  font-weight: bold;
  text-align: center;
}

.footer {
  width: 100%;
}

.next-dates {
  color: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-dates .moon-phase {
  width:100%;
  text-align: center;
  margin-bottom: 0.8rem;
  color: #9de7fa;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.next-dates .moon-phase .title {
  width: 50%;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.next-dates .moon-phase .date {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 500px) {
  .next-dates {
    flex-direction: row;
    gap: 3rem;
  }
  .next-dates .moon-phase {
    width: auto;
    flex-direction: column;
    gap: 0;
  }
  .next-dates .moon-phase .title {
    width: auto;
    font-size: 18px;
    font-weight: normal;
    display: block;
  }
  .next-dates .moon-phase .date {
    width: auto;
    display: block;
  }
}
