.subscribeControl {
  display:flex;
  flex-direction: row;
  gap: 5px;
}

.unsubscribeButton {
  color: #4682B4 !important;
  border: 1px solid #4682B4 !important;
}
.unsubscribeButton span {
  color: #4682B4 !important;
}
.unsubscribeButton svg {
  fill: #4682B4 !important;
}

